---
import Layout from "../layouts/Layout.astro";
const msg = "Hello World";
const nums = [1, 2, 3, 4, 5, 6, 7];
---

<Layout title="Welcome to Astro.">
	<main>
		<div>test</div>
		<div class="msg">{msg}</div>
		<ul>
			{
				nums.map((num) => {
					return <li>{num}</li>;
				})
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.msg {
		font-size: 20px;
		font-weight: bolder;
		height: 60px;
		display: flex;
		align-items: center;
		color: red;
	}
</style>
