@font-face {
  font-family: "iconfont"; /* Project id 3741773 */
  src: url('iconfont.woff2?t=1676255485435') format('woff2'),
       url('iconfont.woff?t=1676255485435') format('woff'),
       url('iconfont.ttf?t=1676255485435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e603";
}

.icon-youjian:before {
  content: "\e604";
}

.icon-xuexiao:before {
  content: "\e610";
}

.icon-weimingpian:before {
  content: "\e64a";
}

.icon-num_eight:before {
  content: "\e64c";
}

.icon-num_nine:before {
  content: "\e651";
}

.icon-num_five:before {
  content: "\e652";
}

.icon-num_six:before {
  content: "\e653";
}

.icon-num_seven:before {
  content: "\e654";
}

.icon-work:before {
  content: "\e60e";
}

.icon-skill:before {
  content: "\e7b6";
}

.icon-evaluate:before {
  content: "\e624";
}

.icon-num_two:before {
  content: "\e650";
}

.icon-num_four:before {
  content: "\e64d";
}

.icon-num_one:before {
  content: "\e64e";
}

.icon-num_three:before {
  content: "\e64f";
}

.icon-address:before {
  content: "\e63c";
}

.icon-phone:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e628";
}

.icon-pointTo:before {
  content: "\e627";
}

.icon-email:before {
  content: "\e908";
}

